* {
    font-family: 'Mulish', sans-serif;
}

body {
    margin: 50px 130px;
}

/* shared css */
.headingtext {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.secondarytext {
    color: #424247;
    font-size: 1rem;
    font-weight: 400;
}

.shared_btn_css {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
}

/* navbar css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftarea {
    display: flex;
    align-items: center;
    gap: 15px;
}

.rightarea ul {
    display: flex;
    gap: 45px;
}

.nav_for_desktop {
    display: flex;
}

.nav_for_mobile {
    display: none;
}

.rightarea a {
    text-decoration: none;
}

.rightarea li {
    list-style: none;
}

.menu_icon {
    display: flex;
    float: right;
}

.mobile_nav {
    display: none;
    position: absolute;
    right: 60px;
    z-index: 1;
    background-color: #000000ad;
    padding: 10px;
    border-radius: 10px;
}

.mobile_nav a {
    display: block;
    text-align: left;
}

.nav_for_mobile:hover .mobile_nav {
    display: block;
}

/* banner section */
.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/Group13.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    border-radius: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannercontent p {
    display: block;
    color: #fff;
    max-width: 670px;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.findsection {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    padding: 15px;
    gap: 20px;
}

.findsection input,
select,
button {
    border-radius: 8px;
    background: #FFF;
    width: 170px;
    height: 52px;
    border: none;
    padding-left: 15px;
}

.findsection input::placeholder {
    color: #424247;
}

.custom_select {
    color: #424247;
}

.findsection button {
    background-color: #FF5400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    gap: 10px;
}

/* popular sector css */
.popular_tour {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.popular_tour_text {
    max-width: 570px;
}

/* chose your dest sector */
.choose_your_dest {
    margin-top: 100px;
    text-align: center;
}

.cyd_text p {
    max-width: 650px;
    margin: 25px auto 50px auto;
}

.cyd_image {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.row_1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 300px;
    gap: 25px;
}

.common_cyd_bg_properties {
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    color: #FFF;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Maldives {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle5.png);
}

.Indonesia {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle8.png);
}

.row_2 {
    display: grid;
    grid-template-columns: 1.2fr 2fr 1fr;
    height: 280px;
    gap: 25px;
}

.SriLanka {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle6.png);
}

.NorthAmerica {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle7.png);
}

.Kashmir {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle.png);
}

.row_3 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 300px;
    gap: 25px;
}

.Bangladesh {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle11.png);
}

.Bandarban {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle10.png);
}

/* why choose us sector css*/

.choose_us {
    margin-top: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.upper_part p {
    max-width: 700px;
    margin: 25px auto 50px auto;
}

.card_heading {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.card_part {
    display: flex;
    gap: 25px;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.card_para {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    /* 162.5% */
}

.wcu_card {
    border-radius: 16px;
    text-align: left;
    padding: 30px;
    width: 600px;
}

.wcu_card img {
    width: 50px;
}

.card_1 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.card_2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.card_3 {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* extra feature */
.Extra_features {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.extra_headings p {
    max-width: 600px;
}

.extra_contents {
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: center;
}

.extra_feacture_icons {
    display: flex;
    justify-content: space-around;
}

.icons {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;

}

.icons img {
    width: 60px;
}

.extra_left {
    max-width: 500px;
    text-align: left;
}

.extra_right img {
    border-radius: 2%;
    filter: grayscale(50%);
    filter: blur(1.5px);
    width: 90%;
}

/* deals and discount */
.deals_and_discount {
    text-align: center;
    margin-top: 100px;
}

.dnd_text p {
    max-width: 400px;
    margin: 25px auto 50px auto;
}

.dndc_bg {
    height: 500px;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
    padding: 50px;
}

.dnd_card1 {
    background-image: url(Images/Group39.png);
}

.dnd_card2 {
    background-image: url(Images/Group40.png);
}

.dnd_card3 {
    background-image: url(Images/Group39.png);
}

.dnd_card_info {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    max-width: 570px;
    float: right;
    padding: 50px;
}

.dnd_heading_info {
    display: flex;
}

.dnd_heading_info img {
    width: 25px;
    margin-right: 5px;
}

.dnd_heading_info p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

.dnd_description {
    text-align: left;
}

.dnd_price {
    color: #FF5400;
    font-size: 1.25rem;
    font-weight: 800;
}


/* for responsive */
@media screen and (max-width:600px) {
    .headingtext {
        color: #131318;
        font-size: 1.25rem;
        font-weight: 800;
    }

    .secondarytext {
        font-size: 14px;
        font-weight: 400;
    }

    .leftarea img {
        width: 30px;
    }

    body {
        margin: 20px 20px;
    }

    .findsection {
        flex-direction: column;
        text-align: center;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .findsection button {
        margin-left: auto;
        margin-right: auto;
    }

    .bannercontent>p {
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .nav_for_desktop {
        display: none;
    }

    .nav_for_mobile {
        display: flex;
    }

    .mobile_nav a {
        color: #FFF;
    }

    .popular_tour {
        flex-direction: column;
    }

    .popular_image img {
        width: 100%;
    }


    .row_1,
    .row_2,
    .row_3 {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .common_cyd_bg_properties {
        min-height: 170px;
    }

    .extra_contents {
        flex-direction: column;

    }

    .extra_right img {
        width: 90%;
    }

    .dnd_card_info {
        max-width: 300px;
        padding: 5px;
    }

    .dnd_heading_info {
        flex-wrap: wrap;
    }

    .banner,
    .popular_tour,
    .choose_your_dest,
    .Extra_features,
    .choose_us,
    .deals_and_discount {
        margin-top: 30px;
    }


}

@media screen and (min-width:601px) and (max-width:919px) {
    body {
        margin: 30px;
    }

    .findsection {
        flex-direction: column;
        max-width: 330px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    .findsection button {
        margin-left: auto;
        margin-right: auto;
    }

    .bannercontent p {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .nav_for_desktop {
        display: none;
    }

    .nav_for_mobile {
        display: flex;
    }

    .mobile_nav a {
        color: #FFF;
    }

    .popular_tour {
        flex-direction: column;
    }

    .extra_contents {
        flex-direction: column;
    }

    .extra_right img {
        width: 90%;
    }

    .extra_left {
        max-width: 400px;
        padding: 20px;
    }

}

@media screen and (min-width:920px) and (max-width:1080px) {
    body {
        margin: 30px;
    }

    .findsection input,
    select,
    button {
        border-radius: 8px;
        background: #FFF;
        width: 130px;
        height: 52px;
        border: none;
        padding-left: 15px;
    }

    .rightarea ul {
        gap: 10px;
    }

    .popular_image {
        width: 80%;
    }

    .extra_right img {
        width: 90%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1649px) {
    .wcu_card {
        width: 370px;
    }
}